__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.db
*.sqlite3
*.log
*.csv
*.xlsx
.DS_Store
*.pyc
*.egg-info
dist
build
*.log
*.pot
*.mo
*.po
MANIFEST
.pytest_cache/
.coverage
htmlcov/
.pyup/